<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-body text-center product-body">
			<%= image_tag("store/humanbeings/humanbeing6.png", 
				:alt => "Ruben van Schaik",
				:class => "img-responsive img-human-being img-left")
				
				%>
			</div>
			<div class="panel-footer">
				<strong>Ruben van Schaik</strong><br/>
				<em><%= Spree.t(:humanbeing6function) %></em>
			</div>


		</div>
		<div class="panel panel-default">
			<div class="panel-body text-center product-body">
				<%= image_tag("store/humanbeings/humanbeing2.png", 
					:alt => "Déborah Fouché",
					:class => "img-responsive img-human-being img-left",
					:'data-toggle' => "popover",
					:'data-content' => Spree.t(:humanbeing2functiondescription)) 
					%>
				</div>
				<div class="panel-footer">
					<strong>Déborah Fouché</strong><br/>
					<em><%= Spree.t(:humanbeing2function) %></em>
				</div>
			</div>


		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body text-center product-body">
					<%= image_tag("store/humanbeings/humanbeing3.png", 
						:alt => "Yorrit Smit",
						:class => "img-responsive img-human-being") 
						%>
					</div>
					<div class="panel-footer">
						<strong>Yorrit Smit</strong><br/>
						<em><%= Spree.t(:humanbeing3function) %></em>
					</div>
				</div>

			<div class="panel panel-default">
				<div class="panel-body text-center product-body">
					<%= image_tag("store/humanbeings/humanbeing7.png", 
						:alt => "Marijn Pronk",
						:class => "img-responsive img-human-being") 
						%>
					</div>
					<div class="panel-footer">
						<strong>Marijn Pronk</strong><br/>
						<em><%= Spree.t(:humanbeing7function) %></em>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body text-center product-body">
						<%= image_tag("store/humanbeings/humanbeing4.png", 
							:alt => "Wilhelm van der Heijden",
							:class => "img-responsive img-human-being") 
							%>
						</div>
						<div class="panel-footer">
							<strong>Wilhelm van der Heijden</strong><br/>
							<em><%= Spree.t(:humanbeing4function) %></em>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-body text-center product-body">
							<%= image_tag("store/humanbeings/humanbeing5.png", 
								:alt => "Erwin Rooijakkers",
								:class => "img-responsive img-human-being") 
								%>
							</div>
							<div class="panel-footer">
								<strong>Erwin Rooijakkers</strong><br/>
								<em><%= Spree.t(:humanbeing5function) %></em>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-body text-center product-body">
								<%= image_tag("store/humanbeings/humanbeing1.png", 
									:alt => "Jeroen Bruijn",
									:class => "img-responsive img-human-being") 
									%>
								</div>

								<div class="panel-footer">
									<strong>Jeroen Bruijn</strong><br/>
									<em><%= Spree.t(:humanbeing1function) %></em>
								</div>
							</div>
						</div>